<link href="../all.css" rel="stylesheet" type="text/css">

<header>user register success</header>
<hr>
<br/>
<article>
	<form>
		<table class="table">
			<tr class="tr">
				<th class="th">name</td>
				<th class="th">password</td>
				<th class="th">gender</td>
				<th class="th">phone number</td>
				<th class="th">email address</td>
				<th class="th">create date</td>
				<th class="th">update date</td>
			</tr> 
			<tr class="tr">
				<td class="td">
					<%= name %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= password %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= gender %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= phoneNumber %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= email %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= createDate %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= updateDate %>
				</td>
			</tr>
		</table>
	</form>
</article>
<hr/>
<footer>user register success</footer>


















































<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
$(function(){
	// Returns width of browser viewport
	$( window ).width();
	// Returns width of HTML document
	$( document ).width();
	
	$("body").css("padding-left",($(window).width() - $(".login-form").width())/2+"px");
	$("body").css("padding-top",($(window).height() - $(".login-form").height())/2+"px");
});
</script>
